.blog-body h2 {
  font-size: 54px;
  line-height: 95%;
  margin-top: 80px;
  margin-bottom: 30px;
}

.blog-body h3 {
  font-size: 32px;
  margin-top: 40px;
  margin-bottom: 20px;
}

.blog-body p {
  margin-bottom: 24px;
}

.blog-body ul {
  padding-left: 24px;
  margin-bottom: 24px;
}

.blog-body li {
  margin-bottom: 12px;
}