---
import MainLayout from "@/layouts/MainLayout.astro";

import contactImg from "@/assets/contact.png";

import { Icon } from "astro-icon/components";
---

<MainLayout
  title="Contact Us | Martina Murphy Solicitors, Limerick"
  description="Get in touch with Martina Murphy Solicitors at Unit 7 Crescent Court, Dooradoyle, Limerick. Call (061) 303311 or email info@martinamurphy.ie to book a consultation."
  keywords="contact solicitor limerick, martina murphy solicitors, book legal consultation limerick, solicitor dooradoyle"
>
  <section class="w-full min-h-screen bg-white">
    <div
      class="max-w-[1250px]
      max-w-[1250px] mx-auto px-4
        w-full
        flex
        flex-col
        gap-20
        lg:gap-24
        px-4
        sm:px-6
        lg:px-10
        py-20"
    >
      <!-- HERO -->
      <section
        class="relative
    w-full
    mt-6
    h-[420px] sm:h-[600px] lg:h-[750px]
    rounded-[30px]
    overflow-hidden
    flex
    flex-col
    justify-end
    items-start
    px-[20px] sm:px-[50px]
    pb-[50px] sm:pb-[70px]"
      >
        <!-- BACKGROUND IMAGE -->
        <img
          src={contactImg.src}
          alt="Contact"
          class="absolute
      inset-0
      w-full
      h-full
      object-cover
      object-center"
        />

        <!-- HEADING -->
        <h1
          class="relative
      z-10
      font-dm
      font-normal
      text-white
      text-[34px] sm:text-[60px] lg:text-[80px]
      leading-[100%]
      tracking-[-0.04em]
      max-w-[90%] sm:max-w-[620px] lg:max-w-[1100px]"
        >
          Let us help you
        </h1>
      </section>

      <!-- CONTACT OPTIONS -->
      <section
        class="mx-auto w-full flex flex-col gap-10 border-b border-black pb-20"
      >
        <div class="flex items-center lg:pl-[52px]">
          <h2
            class="font-geist font-normal text-[22px] sm:text-[32px] leading-[109%] tracking-[-0.05em] text-black"
          >
            Contacting us could not be easier
          </h2>
        </div>

        <div
          class="grid grid-cols-1 md:grid-cols-3 border-y border-black py-[50px]"
        >
          <!-- EMAIL -->
          <div
            class="flex flex-col items-center justify-center gap-14 mx-auto
             w-[393.33px] md:w-[240px] sm:w-[375px]
             h-[219px] sm:h-[252px]"
          >
            <div class="relative w-[112.5px] h-[84.38px]">
              <div
                class="absolute inset-0 border-[7px] border-[#0B838E] rounded-sm"
              >
              </div>

              <svg
                class="absolute inset-0 w-full h-full"
                viewBox="0 0 112.5 84.38"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M 7 7 L 56.25 45 L 105.5 7"
                  stroke="#0B838E"
                  stroke-width="7"
                  stroke-linejoin="round"
                  stroke-linecap="round"></path>
              </svg>
            </div>

            <a
              href="mailto:info@martinamurphy.ie"
              class="flex justify-center items-center px-6 py-[18px]
           w-[183px] h-[58px]
           bg-[#ffffff] hover:bg-[#0B838E]
           border border-[#0B838E]
           rounded-[500px] text-[#0B838E] hover:text-[#ffffff] transition-all duration-200"
            >
              <span class="font-geist text-[18px]"> Email Us </span>
            </a>
          </div>

          <!-- CALL -->
          <div
            class="flex flex-col items-center justify-center gap-14 mx-auto
         w-[393.33px] md:w-[240px] sm:w-[375px]
         h-[219px] sm:h-[252px]"
          >
            <div
              class="w-[112.5px] h-[84.38px] flex items-center justify-center"
            >
              <Icon
                name="lucide:phone"
                class="w-[80px] h-[80px] text-[#0B838E]"
              />
            </div>

            <a
              href="tel:+35361303311"
              class="flex justify-center items-center px-6 py-[18px]
           w-[183px] h-[58px]
           border border-[#0B838E]
           bg-[#ffffff] hover:bg-[#0B838E]
           rounded-[500px] text-[#0B838E] hover:text-[#ffffff] transition-all duration-200"
            >
              <span class="font-geist text-[18px]"> Call Us </span>
            </a>
          </div>

          <!-- REQUEST A CALL BACK -->
          <div
            class="flex flex-col items-center justify-center gap-14 mx-auto
         w-[393.33px] md:w-[240px] sm:w-[375px]
         h-[219px] sm:h-[252px]"
          >
            <div
              class="w-[112.5px] h-[84.38px] flex items-center justify-center"
            >
              <Icon
                name="lucide:headset"
                class="w-[80px] h-[80px] text-[#0B838E]"
              />
            </div>

            <button
              class="flex justify-center items-center px-6 py-[18px]
           w-[230px] h-[58px]
           bg-[#ffffff] hover:bg-[#0B838E] hover:text-[#ffffff]
           border border-[#0B838E]
           rounded-[500px] text-[#0B838E] transition-all duration-200"
            >
              <span class="font-geist text-[18px]"> Request a Call Back </span>
            </button>
          </div>
        </div>
      </section>

      <!-- OFFICES -->
      <!-- OFFICES -->
      <section
        class="mx-auto
  w-full
  bg-[#0B838E]
  rounded-[20px]
  px-[28px]
  md:px-[64px]
  lg:px-[160px]
  py-[48px]
  md:py-[60px]
  lg:py-[80px]"
      >
        <div
          class="flex flex-col md:flex-row gap-8 lg:gap-12 items-center justify-center"
        >
          <!-- Dublin Office -->
          <div class="w-full md:w-1/2">
            <h2
              class="font-dm font-normal text-white text-[32px] md:text-[40px] lg:text-[48px] text-center mb-6"
            >
              Castletroy Office
            </h2>

            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2419.6129720125678!2d-8.575540700000001!3d52.666967899999996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x485b5fa1488e74cb%3A0x1408973b8e557d6b!2sMartina%20Murphy%20Solicitors!5e0!3m2!1sen!2sin!4v1781533448964!5m2!1sen!2sin"
              class="w-full h-[300px] md:h-[350px] rounded-[16px]"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>

          <!-- Limerick Office -->
          <div class="w-full md:w-1/2">
            <h2
              class="font-dm font-normal text-white text-[32px] md:text-[40px] lg:text-[48px] text-center mb-6"
            >
              Dooradoyle Office
            </h2>

            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2421.0716681339763!2d-8.650066100000002!3d52.6406182!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x485b5b63c179b2d3%3A0x569b8c29eae58498!2sMartina%20Murphy%20Solicitors!5e0!3m2!1sen!2sin!4v1781533467187!5m2!1sen!2sin"
              class="w-full h-[300px] md:h-[350px] rounded-[16px]"
              style="border:0;"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"></iframe>
          </div>
        </div>
      </section>

      <!-- FINAL CTA -->
      <section
        class="mx-auto
          w-full
          flex
          flex-col
          items-center
          text-center
          gap-10
          py-20
          lg:py-[120px]"
      >
        <h2
          class="font-[Crimson_Text]
            font-normal
            text-[50px]
            sm:text-[60px]
            leading-[90%]
            tracking-[-0.03em]
            text-black
            max-w-[650px]"
        >
          Discover how we can help
        </h2>

        <p
          class="font-dm
            text-[21px]
            leading-[140%]
            tracking-[-0.005em]
            text-[#6F6F6F]
            max-w-[600px]"
        >
          Contacting us couldn’t be easier
        </p>

        <a
          href="/contact"
          class="w-full
            max-w-[600px]
            bg-[#0B838E]
            text-white
            rounded-full
            px-[22px]
            py-[14px]
            flex
            items-center
            justify-center
            gap-2
            text-[14px]
            font-bold
            tracking-[-0.025em]
            hover:bg-[#086c74]
            transition-all
            duration-300"
        >
          Schedule a Consult

          <Icon name="lucide:arrow-up-right" class="w-4 h-4" />
        </a>
      </section>
    </div>
  </section>
</MainLayout>
