<section
  class="w-full max-w-[1200px] mx-auto
  flex flex-col lg:flex-row
  gap-[20px]
  py-[80px]"
>

  <div class="flex-1 border-r border-black pr-4">
    <h3 class="text-[#0B838E] text-[120px] leading-none">
      100+
    </h3>

    <p class="text-[21px]">
      years of combined experience.
    </p>
  </div>

  <div class="flex-1 border-r border-black pr-4">
    <h3 class="text-[#0B838E] text-[120px] leading-none">
      LQ
    </h3>

    <p class="text-[21px]">
      Standard of Excellence.
    </p>
  </div>

  <div class="flex-1">
    <h3 class="text-[#0B838E] text-[120px] leading-none">
      200+
    </h3>

    <p class="text-[21px]">
      clients helped.
    </p>
  </div>

</section>