---
import martina2 from "../../assets/martina-2.png";
---
 <section class="w-full max-w-[1200px] ml-45 px-4 sm:px-6 lg:px-8 py-20 lg:py-[80px]">

  <div
    class="
      w-full
      flex
      flex-col-reverse
      lg:flex-row
      items-start
      gap-10
      lg:gap-5
    "
  >

    <!-- LEFT CONTENT -->
    <div
      class="
        flex-1
        flex
        flex-col
        items-start
        pt-[60px]
        pb-[80px]
        gap-10
      "
    >

      <div
        class="
          flex
          flex-col
          items-start
          gap-10
          lg:pr-20
        "
      >

        <h2
          class="
            font-crimson
            font-normal
            text-[50px]
            sm:text-[54px]
            lg:text-[60px]
            leading-[90%]
            tracking-[-0.03em]
            text-black
          "
        >
          Hello, I’m Martina
        </h2>

        <p
          class="
            font-dm
            font-normal
            text-[20px]
            lg:text-[21px]
            leading-[140%]
            tracking-[-0.005em]
            text-[#6F6F6F]
          "
        >
          And I own Martina Murphy Solicitors, I’m here along with my
          partners to fully support you in whatever it is that you need.
          I guarantee that you will feel comfortable, welcome and respected.

          We are one of the few practices in the Mid-West to have been
          awarded the LQ Standard of Excellence – an independent verification
          of the standard of care we give to all our clients.

          Our clients return time and time again when they need legal advice
          and most importantly, they are happy to refer family and friends
          to the office.
        </p>

      </div>

      <button
        class="
          bg-[#0B838E]
          text-white
          rounded-full
          px-[22px]
          py-[14px]
          font-bold
          text-[14px]
          leading-[140%]
          tracking-[-0.025em]
          hover:bg-[#086c74]
          transition-all
          duration-300
        "
      >
        Meet the Team
      </button>

    </div>

    <!-- IMAGE -->
    <div
      class="
        relative
        w-full
        lg:w-[590px]
        h-[385px]
        sm:h-[620px]
        lg:h-[711px]
        rounded-[30px]
        overflow-hidden
        shrink-0
      "
    >

      <img
        src={martina2.src}
        alt="Martina Murphy"
        class="w-full h-full object-cover object-top"
      />

      <div class="absolute inset-0 bg-black/10"></div>

    </div>

  </div>

</section>