---
const navItems = [
  { name: "About Us", href: "/about-us-2" },
  { name: "Services", href: "/services-2" },
  { name: "News & Blogs", href: "/dashboard" },
];
---

<header class="hidden md:block fixed top-6 left-1/2 -translate-x-1/2 z-50">
  <nav
    class="backdrop-blur-xl
      bg-white/10
      border border-white/20
      shadow-lg
      rounded-full
      px-8 md:px-10
      py-4
      transition-all duration-300"
  >
    <ul class="flex items-center gap-8 md:gap-10">
      {
        navItems.map((item) => (
          <li>
            <a
              href={item.href}
              class="
              text-black/90
              text-sm md:text-[15px]
              font-bold
              tracking-[-0.02em]
              hover:text-black
              hover:opacity-100
              transition-all duration-300
            "
            >
              {item.name}
            </a>
          </li>
        ))
      }
    </ul>
  </nav>
</header>
