---
import SEO from "../components/SEO.astro";
import TopBar from "../components/common/Topbar.astro";
import Navbar from "../components/common/Navbar.astro";
import Footer from "../components/common/Footer.astro";
import "../styles/global.css";

interface Props {
  title?: string;
  description?: string;
  keywords?: string;
}

const {
  title = "Martina Murphy Solicitors | Limerick Solicitor",
  description = "Martina Murphy Solicitors — Limerick-based legal experts in wills & probate, family law, employment law, conveyancing, power of attorney and more.",
  keywords = "solicitor limerick, family law solicitor, wills and probate, conveyancing solicitor, employment law,solicitor near me,lawyer near me"
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site ?? "https://martinamurphy.ie").toString();
---

<html lang="en">
  <head>
    <!-- Google Tag Manager -->

    <script>
      (function (w, d, s, l, i) {
        w[l] = w[l] || [];
        w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
        var f = d.getElementsByTagName(s)[0],
          j = d.createElement(s),
          dl = l != "dataLayer" ? "&l=" + l : "";
        j.async = true;
        j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
        f.parentNode.insertBefore(j, f);
      })(window, document, "script", "dataLayer", "GTM-MLJNQNS");
    </script>

    <!-- End Google Tag Manager -->

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <SEO
  title={title}
  description={description}
  keywords={keywords}
/>
  </head>

  <body class="flex flex-col min-h-screen">
    <!-- Google Tag Manager (noscript) -->

    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-MLJNQNS"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >

    <!-- End Google Tag Manager (noscript) -->
    <TopBar />
    <Navbar />

    <main class="flex-1">
      <slot />
    </main>

    <Footer />

    <script>
      document.addEventListener("DOMContentLoaded", () => {
        const reveals = document.querySelectorAll(".reveal");

        const observer = new IntersectionObserver(
          (entries) => {
            entries.forEach((entry) => {
              if (entry.isIntersecting) {
                entry.target.classList.add("show");
              }
            });
          },
          {
            threshold: 0.15,
          },
        );

        reveals.forEach((el) => observer.observe(el));
      });
    </script>
  </body>
</html>
